<nav>
    <div class="nav-wrapper" style="background-color: rgb(240, 98, 52);">
        <a href="#!" class="brand-logo"></a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" style="padding-right:20px;">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Appartementen", appartementen_path %></li>
            <li><%= link_to "Reserveren", reserveren_path %></li>
            <li><%= link_to "Amelanderkaap", amelanderkaap_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li>
                <a href="#" ">Home</a></li>
<li><a href="# ">Appartementen</a></li>
<li><a href="# ">Reserveren</a></li>
<li><a href="# ">Amelander kaap</a></li>
<li><a href="# ">Contact</a></li>
</ul>
</div>
</nav>
<div class="divider "></div><br>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Voornaam</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Achternaam</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
   
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Opmerkingen</label>
        </div>
      </div>
    </form>
  </div>
        
    </form>
  </div>
        