<div class="container">
    <div class="slider" style="width:95%; margin:0 auto;">
        <ul class="slides ">
            <li>
                <%=image_tag( '1.JPG') %>
                    <div class="caption center-align ">
                        <h3>Eerste tekst</h3>
                        <h5 class="light grey-text text-lighten-3 ">Nog een tekst.</h5>
                    </div>
            </li>
            <li>
                <%=image_tag( '2.JPG') %>
                    <div class="caption left-align ">
                        <h3>Tweede tekst</h3>
                        <h5 class="light grey-text text-lighten-3 ">Nog een tekst.</h5>
                    </div>
            </li>
            <li>
                <%=image_tag( '3.JPG') %>
                    <div class="caption right-align ">
                        <h3>Derde tekst</h3>
                        <h5 class="light grey-text text-lighten-3 ">Nog een tekst.</h5>
                    </div>
            </li>
            <li>
                <%=image_tag( '4.JPG') %>
                    <div class="caption center-align ">
                        <h3>Vierde tekst</h3>
                        <h5 class="light grey-text text-lighten-3 ">Nog een tekst.</h5>
                    </div>
            </li>
        </ul>
    </div>
    <div class="row ">
        <div class="col s12 m6 ">
            <div class="card ">
                <div class="card-image ">
                    <%=image_tag( 'huisje_foto.JPG') %>
                </div>
                <div class="card-content ">
                    <p><b>3 Personen</b>
                    </p>
                    <hr>
                    <p>Hier komt een korte beschrijving van het 3 persoons huisje. Deze regel tekst dient enkel als opvulling. Anders lijkt het zo vreemd.</p>
                </div>
                <div class="card-action ">
                    <%=link_to "Meer informatie", appartementen_path %>
                </div>
            </div>
        </div>

        <div class="col s12 m6 ">
            <div class="card ">
                <div class="card-image ">
                    <%=image_tag( 'huisje_foto2.JPG') %>

                </div>
                <div class="card-content ">
                    <p><b>5 Personen</b>
                    </p>
                    <hr>
                    <p>Hier komt een korte beschrijving van het 3 persoons huisje. Deze regel tekst dient enkel als opvulling. Anders lijkt het zo vreemd.</p>
                </div>
                <div class="card-action ">
                    <%=link_to "Meer informatie", appartementen_path %>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer " style="background-color: #bf4e3b; ">
    <div class="container ">
        <div class="row ">
            <div class="col l6 s12 ">
                <h5 class="white-text ">Footer</h5>
            </div>
            <div class="col l4 offset-l2 s12 ">
            </div>
        </div>
    </div>
    <div class="footer-copyright ">
        <div class="container ">
            © 2017 Copyright
        </div>
    </div>
</footer>