<nav>
    <div class="nav-wrapper" style="background-color: #bf4e3b;">
        <a href="#!" class="brand-logo" style="padding-left:10px;">Betaalbaar Genieten</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" style="padding-right:20px;">
            <li><a href="#">Home</a></li>
            <li><a href="#">Appartementen</a></li>
            <li><a href="#">Amelander kaap</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li>
                <a href="#" ">Home</a></li>
<li><a href="# ">Appartementen</a></li>
<li><a href="# ">Amelander kaap</a></li>
<li><a href="# ">Contact</a></li>
</ul>
</div>
</nav>
<div class="divider"></div>


<!-- <div class="carousel carousel-slider center " data-indicators="true ">
<div class="carousel-fixed-item center ">
</div>
<div class="carousel-item red white-text " href="#one! ">
<h2>Eerste Foto</h2>
<p class="white-text ">Dit is de eerste tekst.</p>
</div>
<div class="carousel-item amber white-text " href="#two! ">
<h2>Tweede Foto</h2>
<p class="white-text ">Dit is de tweede tekst.</p>
</div>
<div class="carousel-item green white-text " href="#three! ">
<h2>Derde Foto</h2>
<p class="white-text ">Dit is de derde tekst.</p>
</div>
<div class="carousel-item blue white-text " href="#four! ">
<h2>Vierde Foto</h2>
<p class="white-text ">Dit is de vierde tekst.</p>
</div>
</div> -->
 <div class="slider">
    <ul class="slides">
      <li>
         <%= image_tag('eerste.jpg') %>  
        <div class="caption center-align">
          <h3>Eerste tekst</h3>
          <h5 class="light grey-text text-lighten-3">Nog een tekst.</h5>
        </div>
      </li>
      <li>
        <%= image_tag('tweede.jpg') %> 
        <div class="caption left-align">
          <h3>Tweede tekst</h3>
          <h5 class="light grey-text text-lighten-3">Nog een tekst.</h5>
        </div>
      </li>
      <li>
         <%= image_tag('derde.jpg') %> 
        <div class="caption right-align">
          <h3>Derde tekst</h3>
          <h5 class="light grey-text text-lighten-3">Nog een tekst.</h5>
        </div>
      </li>
      <li>
         <%= image_tag('vierde.jpg') %> 
        <div class="caption center-align">
          <h3>Vierde tekst</h3>
          <h5 class="light grey-text text-lighten-3">Nog een tekst.</h5>
        </div>
      </li>
    </ul>
  </div>

<div class="container ">

    <div class="row ">
        <div class="col s12 m6 ">
          <div class="card ">
            <div class="card-image waves-effect waves-block waves-light">
              <%= image_tag('huisje_foto.jpg') %> 
            </div>
            <div class="card-content ">
             <p><b>3 Personen</b></p>
             <hr>
              <p>Hier komt een korte beschrijving van het 3 persoons huisje. Deze regel tekst dient enkel als opvulling. Anders lijkt het zo vreemd.</p>
            </div>
            <div class="card-action ">
              <a href="# ">Meer informatie</a>
            </div>
          </div>
        </div>

                <div class="col s12 m6 ">
          <div class="card ">
            <div class="card-image waves-effect waves-block waves-light">
               <%= image_tag('huisje_foto2.jpg') %> 
             
            </div>
            <div class="card-content ">
             <p><b>5 Personen</b></p>
             <hr>
              <p>Hier komt een korte beschrijving van het 3 persoons huisje. Deze regel tekst dient enkel als opvulling. Anders lijkt het zo vreemd.</p>
            </div>
            <div class="card-action ">
              <a href="# ">Meer informatie</a>
            </div>
          </div>
        </div>
      </div>
</div>

  <footer class="page-footer" style="background-color: #bf4e3b;">
          <div class="container ">
            <div class="row ">
              <div class="col l6 s12 ">
                <h5 class="white-text ">Footer</h5>
              </div>
              <div class="col l4 offset-l2 s12 ">
              </div>
            </div>
          </div>
          <div class="footer-copyright ">
            <div class="container ">
            © 2014 Copyright
            </div>
          </div>
        </footer>
