<!DOCTYPE html>
<html>
<head>
<title>Betaalbaar Genieten</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rsel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css"  media="screen,projection"/>
	
</head>

<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>
	<script type="text/javascript"> 
		$(".button-collapse").sideNav();
		   $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
        
	</script>
<nav>
    <div class="nav-wrapper" style="background-color: rgb(240, 98, 52); background-image: url(images/bg.png);">
        <a href="#!" class="brand-logo"></a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" style="padding-right:20px;">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Appartementen", appartementen_path %></li>
            <li><%= link_to "Reserveren", reserveren_path %></li>
            <li><%= link_to "Amelanderkaap", amelanderkaap_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Appartementen", appartementen_path %></li>
			<li><%= link_to "Reserveren", reserveren_path %></li>
			<li><%= link_to "Amelanderkaap", amelanderkaap_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</nav>

	<%= yield %>
	
	
</body>
</html> 
